RewriteEngine On

# Arahkan semua permintaan ke index.php jika file atau folder tidak ditemukan
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
